body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

   a {
    text-decoration: none;
    color: black;
   }
   li {
    list-style: none;
    color: black;
   }

.navbar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;

}

.navLinks {
    color: black;
    text-decoration: none;
}

.Toplogo {
   font-size: 32px;
   display: flex;
   
}
.menu {
   display: flex;
   gap: 1em;
   font-size: 18px;
}

.resumeButton {
    display: inline-block;
    background-color: #28F0CD;
    padding: .5em 1.2em;
    border: none;
    border-radius: 0.8em;
    margin: 0 0.3em 0;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
    font-size: 16px;
    
}
.resumeButton:hover {
color: white;
background-color: black;
}

#heroGrid {

display: flex;
flex-direction: row;
margin: 5% auto;
width: 85%;
align-items: center;
justify-content:space-evenly;
}

#scrollDown {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.skillsContainer {
    display: flex;
    margin-top: 10%;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #f8f5f2;
    padding: 80px;
}

.skills {
    padding: 20px;
    justify-content: space-between;
    
}

.projectContainer {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    row-gap: 10px;
    position: relative;
}

.projectCard {
    text-align: center;
    background-color: #e3d9cf;
    border-radius: 7px;
    height: 564px;
    width: 439px;
    margin: auto;
    display: flex;
    flex-basis: 1;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    row-gap: 5px;
    
}

.projectText {
    text-align: center;
    padding: 4px;
}

.logo {
    mix-blend-mode: luminosity;
    margin: auto;
    display: flex;
    justify-content: center;
}






